/*Store this code in 'style.css' file inside the 'static' folder*/

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.one .content {
  width: 100%;
  height: auto;
  padding: 10px;
}

.one .content .topbar {
  text-align: center;
  margin: -10px;
  background: rgba(13, 110, 253);
  color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.worddark {
  color: #727272;
  font-style: oblique;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.one {
  display: flex;
  position: relative;
}

.one .two {
  width: 225px;
  height: 100%;
  background: rgba(13, 110, 253);
  padding: 30px 0px;
  position: fixed;
}

.one .two h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-style: oblique;
  font-weight: bold;
}

.one .two h2 {
  color: #fff;
  text-align: left;
}

.one .two .active {
  background: rgba(13, 110, 253);
}

.one .two ul li {
  text-align: center;
  padding: 15px;
  border-bottom: 0.1px solid white;
  border-top: 0.1px solid white;
}

.one .two ul li a {
  color: #ffffff;
  display: block;
}

.one .two ul li a .side {
  width: 25px;
}

.one .content .contentbar {
  margin: auto;
}

.one .content .contentbar h1 {
  color: rgba(13, 110, 253);
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.text-white:hover {
  background-color: rgb(22, 25, 27);
}

.table {
  max-width: 800px;
  text-align: center;
  border: 1px;
  border-color: darkgray;
}

/* halot */

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgb(22, 25, 27);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: rgb(22, 25, 27);
}

.scrollarea {
  overflow-y: auto;
}