<html lang="en">
    <head>
        <title>my_reservations</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#e6ffee">
        <div class="one">
            <div class="two">
                <h1>Side Bar</h1>
                <ul>
                    <li><a href="{{url_for('index')}}">Index</a></li>
                    <li><a href="{{url_for('your_account')}}">Your account</a></li>
                    <li class="active"><a href="{{url_for('my_reservations')}}">My reservations</a></li>
                    <li><a href="{{url_for('my_conferences')}}">My conferences</a></li>
                    <li><a href="{{url_for('all_conferences')}}">All conferences</a></li>
                    <li><a href="{{url_for('create_conference')}}">Create new conference</a></li>
                    <li><a href="{{url_for('my_applications')}}">My applications</a></li>
                    {% if admin_bool %}
                    <li><a href="{{url_for('user_management')}}">User management</a></li>
                    {% endif %}
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>My reservations</h2>
                </div><br>
                <label for="reservations_in_progress">Pay for your reservations and wait for confirmation:</label><br>
                <label for="reservations_in_progress" style="color: grey;">Unpaid reservation cannot be confirmed!</label><br>
                <table name="reservations_in_progress" id="reservations_in_progress" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Date from:</th>
                            <th>Date to:</th>
                            <th>Conference:</th>
                            <th>Number of tickets:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for reservation in reservations_in_progress %}    
                        <form action="{{ url_for('my_reservations') }}" method="post">
                            <tr>
                                <td name="id_rez">{{ reservation['id_rez'] }}</td>
                                <input type="hidden" name="id_rez" id="id_rez" value="{{ reservation['id_rez'] }}"/>
                                <td>{{ reservation['od_datum'] }}</td>
                                <td>{{ reservation['do_datum'] }}</td>
                                <td><a href="{{ url_for('r_conf', conf_id=reservation.id_konferencie)}}">{{ reservation['nazov'] }}</a></td>
                                <td>{{ reservation['pocet_listkov'] }}</td>
                                {% if reservation['uhradene'] == 'nie' %}
                                <td>
                                    <input type="submit" name="pay_submit" id="pay_submit" value="Pay">
                                </td>
                                {% endif %}
                                {% if reservation['uhradene'] == 'ano' %}
                                <td>Paid</td>
                                {% endif %}
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table><br><br>
                <label for="reservations_accepted">Confirmed reservations:</label><br>
                <label for="reservations_accepted" style="color: grey;">See you at the conference!</label><br>
                <table name="reservations_accepted" id="reservations_accepted" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Date from:</th>
                            <th>Date to:</th>
                            <th>Conference:</th>
                            <th>Number of tickets:</th>
                            <th>Paid:</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for reservation in reservations_accepted %}    
                        <form action="{{ url_for('my_reservations') }}" method="post">
                            <tr>
                                <td name="id_rez">{{ reservation['id_rez'] }}</td>
                                <input type="hidden" name="id_rez" id="id_rez" value="{{ reservation['id_rez'] }}"/>
                                <td>{{ reservation['od_datum'] }}</td>
                                <td>{{ reservation['do_datum'] }}</td>
                                <td><a href="{{ url_for('r_conf', conf_id=reservation.id_konferencie)}}">{{ reservation['nazov'] }}</a></td>
                                <td>{{ reservation['pocet_listkov'] }}</td>
                                {% if reservation['uhradene'] == 'nie' %}
                                <td>
                                    <input type="submit" name="pay_submit" id="pay_submit" value="Pay">
                                </td>
                                {% endif %}
                                {% if reservation['uhradene'] == 'ano' %}
                                <td>Paid</td>
                                {% endif %}
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table><br><br>
                <label for="reservations_declined">Declined reservations:</label><br>
                <label for="reservations_declined" style="color: grey;">Your payment will be refunded to your bank account!</label><br>
                <table name="reservations_declined" id="reservations_declined" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Date from:</th>
                            <th>Date to:</th>
                            <th>Conference:</th>
                            <th>Number of tickets:</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for reservation in reservations_declined %}    
                            <tr>
                                <td>{{ reservation['od_datum'] }}</td>
                                <td>{{ reservation['do_datum'] }}</td>
                                <td><a href="{{ url_for('r_conf', conf_id=reservation.id_konferencie)}}">{{ reservation['nazov'] }}</a></td>
                                <td>{{ reservation['pocet_listkov'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table><br><br>
            </div>
        </div>
    </body>
</html>