<html lang="en">
    <head>
        <title>nr_conf</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#e6ffee">
        <div class="one">
            <div class="two">
                <h1>Side Bar</h1>
                <ul>
                    <li><a href="{{url_for('nr_all_conf')}}">All conferences</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>{{ conf['nazov'] }}</h2>
            </div>
            <div>
                <h2>{{ conf['zaner'] }}</h2>
                <h2>{{ conf['obsah'] }}</h2>
                <h2>{{ conf['od_datum'] }}</h2>
                <h2>{{ conf['do_datum'] }}</h2>
                <h2>{{ conf['cena'] }}</h2>
                <h2>{{ conf['login'] }}</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>lecture</th>
                        <th>room</th>
                    </tr>
                </thead>    
                <tbody>
                    {% for lec in lecs %}    
                        <tr>
                            <td>{{ lec['nazov'] }}</td>
                            <td>{{ lec['m.nazov'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>